.Employeehead {
    text-align: center;
    margin-top: 40px;
  }

  .searchinput
  {
    outline: none;
    border: hidden;
    border-bottom: 2px solid black;
    width: 200px;
    margin-left: 380px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 0px;
  }

  .searchinput:focus
  {
    box-shadow: none;
    border-bottom: 2px solid black;
  }

  .addbutton
  {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .tabledata
  {
      padding-top: 5px;
  }